{% extends 'Auditorias/home.html' %}
{% load staticfiles %}
{% block title %}Proyectos de Auditorias{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
             <!-- Illustrations -->
             <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Actualización de la Metodologia para las Auditorias</h6>
                    </div>
                    <div class="card-body">
                      <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'img/undraw_posting_photo.svg' %}" alt="">
                      </div>
                      <p>Nuestra forma de desarrollar las auditorias cada vez mejores realizadas
                          por especialistas capacitados 100%. 
                          <!--a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, 
                          a constantly updated collection of beautiful svg images that you can use
                           completely free and without attribution!-->
                        </p>
                      <!--a target="_blank" rel="nofollow" href="https://undraw.co/">Enterarme &rarr;</a-->
                      <a target="_blank" rel="nofollow" href="#">Enterarme &rarr;</a>
                    </div>
                  </div>
                  
                      <div class="card shadow mb-4">
                            <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Marco de Trabajo COSO</h6>
                            </div>
                            <div class="card-body">
                              <p>
                                    La misión de COSO es: <br>
                                    "... Proporcionar liderazgo intelectual a través del desarrollo de marcos 
                                    generales y orientaciones sobre la Gestión del Riesgo, Control Interno y Disuasión 
                                    del Fraude, diseñado para mejorar el desempeño organizacional  y reducir el alcance
                                     del fraude en las organizaciones.“
                              </p>
                              <!--p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p-->
                            </div>
                          </div>
                          <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Pronto</h6>
                                </div>
                                <div class="card-body">
                                  <p>
                                       Próximos lanzamientos <br>
                                        PAPER sobre la aplicacion de IA en la deteccion de fraudes bancarios.
                                  </p>
                                  <!--p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p-->
                                </div>
                              </div>
        </div>
        <div class="col-6">
               <!-- Approach -->
               <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Cobit 2019 - Release</h6>
                    </div>
                    <div class="card-body">
                      <p>
                            COBIT 5 se definió como un marco para establecer un sistema de gestión y 
                            gestión de TI para la empresa. Bajo COBIT 2019, el marco se denomina 
                            « GOBIERNO DE LA INFORMACIÓN Y TECNOLOGÍA DE LAS EMPRESAS (EGIT)». 
                            No es lo mismo que I y T. TI: a menudo se refiere al departamento de 
                            organización con responsabilidad principal por la tecnología, en comparación 
                            con I & T, esta es toda la información que la empresa genera, procesa y 
                            utiliza para lograr sus objetivos y la tecnología que la respalda en toda 
                            la empresa. Con COBIT 2019, queremos enfatizar la importancia de la información 
                            en la empresa y la tecnología necesaria.
                      </p>
                      <!--p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p-->
                    </div>
                  </div>

                  <div class="card shadow mb-4">
                        <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">Apetito de Riesgo</h6>
                        </div>
                        <div class="card-body">
                          <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'img/undraw_posting_photo.svg' %}" alt="">
                          </div>
                          <p> El apetito al riesgo es la cantidad de riesgo que una organización está dispuesta a 
                              asumir para alcanzar sus objetivos estratégicos. Conozca aquí por qué es importante.

                            En la gestión de riesgo, el apetito al riesgo es lo primero que debe establecerse. 
                            ¿Por qué? La razón es muy simple. Al determinar el nivel de riesgo que enfrentará la 
                            empresa, se sabrá qué tantos recursos y esfuerzos se requieren para manejarlo y mitigar 
                            un posible impacto. De esa forma se previenen los riesgos financieros
                              <!--a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, 
                              a constantly updated collection of beautiful svg images that you can use 
                              completely free and without attribution!-->
                            </p>
                          <a target="_blank" rel="nofollow" href="#">Enterarme &rarr;</a>
                        </div>
                      </div>
                  
        </div>
    </div>
</div>


{% endblock %}